*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: antiquewhite;
}

.headerApp {
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding: 30px 20px;
}

.boton-categoria{
    background-color: #007bff; /* Color de fondo */
  color: white;              /* Color de texto */
  padding: 12px 24px;        /* Espaciado interno */
  border: none;              /* Elimina borde por defecto */
  border-radius: 25px;       /* Bordes redondeados */
  cursor: pointer;           /* Cambia el cursor */
  font-size: 16px;
  text-decoration: none;     /* Si es un enlace <a> */
  display: inline-block;
  transition: background-color 0.3s; /* Efecto suave */
}

.boton-categoria:hover {
  background-color: #0056b3; /* Color al pasar el ratón */
}


section {
    background-color: rgb(255, 255, 255);
}

footer{
    background-color: black;
    color: antiquewhite;
    text-align: left;
    padding: 30px 20px;
}


/**ADAPTACIONES RESPONSIVE**/

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1200px) {

}