*{
    margin:0 auto;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
}

.headerApp {
    background-color: black;
    text-align: center;
    padding: 30px 20px;
}

.boton-categoria{
}


section {
}

footer{
    background-color: black;
    text-align: left;
    padding: 30px 20px;
}


/**ADAPTACIONES RESPONSIVE**/

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1200px) {

}